{% extends "base.html" %}

{% block title %}IAToolkit data{% endblock %}

{% block content %}

{% block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat_info.css') }}">
{% endblock %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Atributo</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Identificación</td>
      <td>RUT</td>
      <td>RUT del cliente</td>
    </tr>
    <tr>
      <td></td>
      <td>Razón Social</td>
      <td>Nombre legal de la empresa cliente.</td>
    </tr>
    <tr>
      <td></td>
      <td>Tamaño empresa</td>
      <td>Tamaño segun clasificación SII</td>
    </tr>
    <tr>
      <td></td>
      <td>Sector de Actividad</td>
      <td>Actividad económica de la empresa (sii)</td>
    </tr>
    <tr>
      <td></td>
      <td>Contactos principales</td>
      <td>Datos del contacto principal, contacto garantias y contacto creditos</td>
    </tr>
    <tr>
      <td>Datos Comerciales</td>
      <td>Productos Contratados</td>
      <td>Productos contratados por el cliente: garantías, créditos, software</td>
    </tr>
    <tr>
      <td></td>
      <td>Fecha de Alta como Cliente</td>
      <td>Fecha de alta en cada producto</td>
    </tr>
    <tr>
      <td></td>
      <td>Ejecutivo comercial</td>
      <td>Nombre del ejecutivo comercial y jefe de grupo, para garantias y creditos</td>
    </tr>
    <tr>
      <td></td>
      <td>Contratos</td>
      <td>Datos de los contratos firmados por el cliente, con el detalle de apoderados y avales que firmaron el contrato</td>
    </tr>
    <tr>
      <td>Garantías</td>
      <td>Resumen garantias</td>
      <td>Número de garantías vigentes, cobradas, terminadas.</td>
    </tr>
    <tr>
      <td></td>
      <td>Certificados</td>
      <td>Detalle de los certificados de fianzas. además de los datos que van en el certificado se incluye la tasa, comisión, % de  fogape, monto recuperado en caso de garantias pagadas</td>
    </tr>
    <tr>
      <td></td>
      <td>Lineas de crédito de garantias</td>
      <td>Líneas aprobadas para garantias publicas, se detalla el monto aprobado, utilizado y disponible</td>
    </tr>
    <tr>
      <td>Credito</td>
      <td>Resumen de creditos</td>
      <td>Tipo de credito (linea, cuotas), garantia (hipotecaria, fogape), monto credito, tasa de interes, # cuotas, financista</td>
    </tr>
    <tr>
      <td></td>
      <td>Estado del crédito o linea</td>
      <td>Estado de la linea (vigente, bloqueada,..), monto disponible, deuda actual</td>
    </tr>
    <tr>
      <td></td>
      <td>Pagos de credito</td>
      <td>Estado de morosidad, numero de cuotas pagadas, numero de atrasos, dias de mora, deuda total acumulada</td>
    </tr>
    <tr>
      <td></td>
      <td>Giros</td>
      <td>Indicador si puede girar o no y su causal de rechazo en caso de que no pueda</td>
    </tr>
    <tr>
      <td>Información de Riesgo</td>
      <td>Fecha evaluación</td>
      <td>Fecha del último analisis de scoring sobre el cliente</td>
    </tr>
    <tr>
      <td></td>
      <td>Comentario scoring</td>
      <td>Comentario ingresado por riesgo en la última ficha evaluada del cliente.</td>
    </tr>
    <tr>
      <td></td>
      <td>Clasificación de Riesgo</td>
      <td>Puntuación de riesgo asignada al cliente.</td>
    </tr>
    <tr>
      <td></td>
      <td>Ventas anuales</td>
      <td>ventas en los ultimos 12 meses</td>
    </tr>
    <tr>
      <td></td>
      <td>Indicadores financieros</td>
      <td>CMF: deuda cmf total, morosa y linea disponible en bancos. Dicom del cliente. Maxima exposición en maxxa</td>
    </tr>
    <tr>
      <td></td>
      <td>Clave SII</td>
      <td>Indica si maxxa dispone de  la clave sii del cliente</td>
    </tr>
    <tr>
      <td></td>
      <td>Ofertas de crédito</td>
      <td>Detalle de ofertas de crédito vigentes</td>
    </tr>
    <tr>
      <td>Software de Gestión</td>
      <td>Modulos contratados</td>
      <td>facturación, ventas, finanzas</td>
    </tr>
    <tr>
      <td></td>
      <td>Cuota mensual</td>
      <td>Cuota mensual en UF</td>
    </tr>
    <tr>
      <td>Cobranza</td>
      <td>Cobranza Judicial</td>
      <td>Monto total en proceso de cobranza judicial. Se detalla por separado de garantias y creditos. en garantia se incluyen los id de certificados en CJ. se menciona si existe acuerdo de pago y  fogape.</td>
    </tr>
    <tr>
      <td></td>
      <td>Pre-judical</td>
      <td>Certificados en proceso de carta de cobro</td>
    </tr>
    <tr>
      <td>Chilecompra</td>
      <td>Participación</td>
      <td>Lista de licitaciones en que el cliente ha participado. Por cada una se trae el detalle de la licitación, garantías requeridas, indicador si el cliente fue adjudicado, y lista de certificados en caso de que la adquirio a maxxa</td>
    </tr>
    <tr>
      <td>Acreedores</td>
      <td>Acreedores</td>
      <td>Acreedores publicos y privados.
          Se incluye atributos de bloqueo y sus causales.</td>
    </tr>
  </tbody>
</table>

{% endblock %}
