{% extends "base.html" %}

{% block title %}Configuración{% endblock %}

{% block content %}
{% if super_user and not is_mobile%}
<div class="container my-5">
    <h5 class="mb-4">Selecciona  que personalidad  quieres utilizar</h5>

    <div class="card shadow">
        <div class="card-body">
            <form action="{{ url_for('select_company', company_short_name=company_short_name) }}" method="post" class="needs-validation" novalidate>
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th></th> <!-- Radio button -->
                            <th></th>
                            <th class="text-muted">Empresa</th>
                            <th class="text-muted text-center">Funciones Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in companies %}
                        <tr class="company-row {% if company.id == user_company %}table-primary{% endif %}">
                            <td>
                                <input type="radio" name="company_id" value="{{ company.id }}"
                                    {% if company.id == user_company %}checked{% endif %}>
                            </td>
                            <td >
                                <img src="{{ url_for('static', filename='images/' + company.logo_file) }}" alt="{{ company.name }} Logo"
                                    class="company-logo">
                            </td>
                            <td class="text-start">{{ company.name }}</td>
                            <td>
                                {%for function in company.functions %}
                                        <strong>{{ function.name }}</strong>: {{ function.description }}<br>
                                {% endfor %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Asignar Empresa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .company-logo {
        max-height: 60px;    /* Ajusta el tamaño máximo del logo */
    max-width: 100%;     /* Evita desbordamiento horizontal */
    height: auto;        /* Mantiene la proporción de la imagen */
    object-fit: contain;
    }
    .company-row {
        transition: background-color 0.3s ease-in-out;
    }
    .company-row:hover {
        background-color: #f8f9fa;
    }
    .table-primary {
        background-color: #cce5ff !important;
    }
</style>
{% endif %}

{% endblock %}